# Ignore virtual environments
venv/

# Ignore environment variables file
.env

# Ignore Python byte-compiled files
__pycache__/
*.pyc

# Ignore the log file
api.log

# Ignore the notebooks
main/notebooks/

#Ignore aws keys
*.ppk
tme-webserver-key.pem
